/* Base.css --- Do not touch */

.Colorgradient{
    height: 35vh;
    background: linear-gradient(-45deg, #EFDD6F, #00A7E1, #2181C2, #01468F);
	background-size: 400% 400%;
	animation: gradient 45s ease infinite;
}


.flex{
    display: flex; 
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.center{
    justify-content: center;
}
.space-a{
    justify-content: space-around;
}
.space-e{
    justify-content: space-evenly;
}
.space-b{
    justify-content: space-between;
}
.t-alignc{
    text-align: center;
}
.fend{
    justify-content: flex-end;
}
.fstart{
    justify-content: flex-start;
}
.DevBox{
    height: 20vh;
    width: 15vw;
    background: linear-gradient(45deg, #F7BA2C, #F18E3F,#ED6E4D, #EA5459);
	animation: gradient 30s ease infinite;
    background-size: 400% 400%;
}
.DigitalBox{
    height: 20vh;
    width: 15vw;
    background: linear-gradient(120deg, #0061FF, #1A87FF,#45C7FF, #60efff);
	animation: gradient 30s ease infinite;
    background-size: 400% 400%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%; 
	}
	100% {
		background-position: 0% 50%;
	}
}