/* Base.css --- Do not touch */




.flex{
    display: flex; 
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.center{
    justify-content: center;
}
.space-a{
    justify-content: space-around;
}
.space-e{
    justify-content: space-evenly;
}
.space-b{
    justify-content: space-between;
}
.t-alignc{
    text-align: center;
}
.fend{
    justify-content: flex-end;
}
.fstart{
    justify-content: flex-start;
}
.space{
    width: 15vw;
}

