/* Colors from site --- Change only when required */
.body{
    background-color: #F1FEEE;
}

h1, h2{
    color: #F1FEEE;
}
h3, h4, h5, h6, p, blockquote, pre{
    color: #020024;
}
a{
    color: #F1FEEE;
}