/* Colors from site --- Change only when required */
body{
    background-color: #F9F9FE;
}

h1, h4{
    color: #F9F9FE;
}
h3, h2, h5, h6, p, blockquote, pre{
    color: #020024;
}
a{
    color: #F9F9FE;
}
.black{
    color: #020024;
}