/* Main style */

.navsettings{
    padding: 1.5% 1.5%;

}
.active{
    color: #F1FEEE;
    padding: 0 2%;
    font-weight: 700;
    text-shadow: 2px 2px 4px #0A090C;
}
.inactive{
    color: #F1FEEE;
    padding: 0 2%;
    text-shadow: 1px 1px 4px #0A090C;
    font-weight: 400;
}
.shadow1{
    text-shadow: 4px 4px 4px #0A090C;
}
.shadow2{
    text-shadow: 2px 2px 4px #0A090C;
}