/* Main style */

.navsettings {
    padding: 1% 0.5%;
}

.headpush {
    padding-bottom: 5vh;
}

.active {
    font-size: 3vh;
    color: #F1FEEE;
    padding: 0 2%;
    font-weight: 700;
    text-shadow: 2px 2px 4px #0A090C;
}

.inactive {
    font-size: 3vh;
    color: #F1FEEE;
    padding: 0 2%;
    font-weight: 400;
}

.shadow1 {
    text-shadow: 3px 3px 4px #0A090C;
}

.shadow2 {
    text-shadow: 2px 2px 4px #0A090C;
}

.shadow3 {
    text-shadow: 1px 1px 4px #0A090C;
}

.shadow4 {
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.titleseta {
    padding: 2% 2%;
}

.titlesetd {
    padding: 0 0 1.5% 0;
}

.titlesetb {
    padding: 3% 3% 2% 3%;
}

.titlesetc {
    padding: 2% 3% 2% 3%;
}

.titlesete {
    padding: 1% 2% 1% 2%;
}

.titlesetf {
    padding: 3% 3% 3% 3%;
}

.Colorgradient {
    background: linear-gradient(-45deg, #000066, #6699FF);
    background-size: 400% 400%;
    animation: gradient 45s ease infinite;
}

.DevBox {
    height: 12vh;
    width: 12vw;
    background: linear-gradient(45deg, #000066, #334DB3);
    animation: gradient 30s ease infinite;
    background-size: 400% 400%;
    justify-content: center;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
}

.DigitalBox {
    height: 12vh;
    width: 12vw;
    background: linear-gradient(120deg, #000066, #334DB3);
    animation: gradient 30s ease infinite;
    background-size: 400% 400%;
    justify-content: center;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.choicetext {
    align-items: center;
}

.boxP {
    width: 50vh;
}

.spacing {
    margin-right: 5vw;
}

.spacing2 {
    margin-right: 10vw;
}

.blockAbout {
    align-self: center;
}

.TitleAbout {
    margin: 0 0 2vh 0;
}

.imgPP {
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
    line-height: 0;
}

.Boxshadow {
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.4);
    line-height: 0;
}

.imgS {
    height: 22vh;
}

.square {
    height: 7vh;
}

.Msides {
    margin: 0 9vw;
}

.Msides2 {
    margin: 0 20vw;
}

.Easteregg {
    color: #000066;
    font-weight: 500;
}

.just-c {
    justify-content: center;
}
.bgred{
    background-color: red;
}