/* Titles and paragraph size and weight */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1 {
    font-weight: 600;
    font-size: 6vh;
    font-style: normal;
    line-height: 250%;
}

H2 {
    font-size: 5VH;
    font-weight: 600;
    font-style: normal;
}

H3 {
    font-size: 3VH;
    font-weight: 500;
    font-style: normal;
}

H4 {
    font-weight: 300;
    font-size: 4vh;
    font-style: italic;
}

p {
    font-style: normal;
    font-weight: 300;
    font-size: 2vh;
    line-height: 3vh;
}