
/* Variables
-----------------------------------------------------------------*/

$main_color: #c9f31d;
$main_color2: #f08f74;
$main_color3: #55e6a5;
$main_color4: #ffaa17;
$body_color: #fff;
$sub_bg: #1a1a1a;
$main_bg: #1d1d1d;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1300px;